/**************** Body *****************/
.main{
    background-image: url(../img/backgrounds/fondo3_black.png);
    /* padding:20px 90px; */
    /* padding: 2% 5% 2% 0px; */
    background-color: rgb(34, 37, 65);
    animation-name: colores;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@media(max-width:990px) {
    .main{
        padding: 2% 5%;
    }
    
}
/* Animacion fondo cambio de colores */
@keyframes colores{
    0%{background-color: rgb(34, 37, 65);}
    25%{background-color: rgb(90, 46, 46);}
    50%{background-color: rgb(48, 88, 69);}
    75%{background-color: rgb(124, 49, 49);}
    /* 100%{background-color: rgb(65, 34, 34);} */
    
}


/**************** Nav menu *************/
/* Estilo Dropbox: Menu hamburgesa bootstrap */
.dropdown{
    position:fixed;
    background-color: rgb(24, 24, 24);
    text-align: right;
}
.dropdown a:hover{
    animation-name: color_a_menu;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#dropdownMenuButton1{
    position: fixed;
    background-color: white;
    color: black;
}
/* Estilo Menu-Escritorio fijo */
.nav_menu{
    position:fixed;
    background-color: rgb(24, 24, 24);
    color: white;
    height: 100%;
    width: 12%;
    text-align: left;
    box-shadow: 5px 0px 20px rgb(20, 20, 20);
}
.nav_menu:hover{
    /* box-shadow: width height  degradado */
    box-shadow: 0px 0px 20px white;
    transition: all 0.8s ease-in;
}
.nav_menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

/* Animacion color de las secciones del menu de tipo "<a>" */
@keyframes color_a_menu{
    0%{color: rgb(96, 112, 255);}
    25%{color: rgb(255, 88, 88);}
    50%{color: rgb(58, 252, 161);}
    75%{color: rgb(248, 236, 66);}
    100%{color: rgb(250, 48, 199);}

}

/* Animacion de los "botones" del menu */
.nav_menu a:hover{
    animation-name: color_a_menu, pulse;
    animation-duration: 5s, 0.9s;
    animation-iteration-count: infinite, initial;
    /* animation: heartBeat; referring directly to the animation's @keyframe declaration */
    /* animation-duration: 2s; don't forget to set a duration! */
}

/* Estilo de la imagen-logo JR */
.nav_menu .logo_JR{
    background-color: rgb(15, 15, 15);
    padding-left: 20%;
}
.nav_menu .logo_JR:hover{
    /* animation: heartBeat; */
    animation: rubberBand;
    animation-duration: 1s;
}

/* Estilo boton imprimir CV */
.nav_menu #download_cv{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    color:rgb(10, 245, 167);
    border: 2px solid rgb(10, 245, 167);
}
.nav_menu #download_cv:hover{
    color:rgb(24, 24, 24);
    animation: none;
    background-color:rgb(10, 245, 167);
}




/**************** Seccion 1 *************/
.seccion_1{
    /* background-color: rgb(148, 34, 34); */
    background-color: rgb(24, 24, 24);
    /* padding: 60px 35px; */
    padding: 70px 35px;
    color: white;
    margin-bottom: 20px;
    box-shadow: 5px 0px 20px 2px rgb(20, 20, 20);
}
/* Estilo sombra seccion 1 */
.seccion_1:hover{
    box-shadow: 0px 0px 20px white;
    transition: all 0.6s ease-in;
}
.seccion_1_1{
    text-align: center;
}
/* Estilo y animacion de etiqueta H1 del Nombre seccion 1 */
.seccion_1_1 h1:hover{
    text-decoration: underline;
    text-decoration-color: rgb(153, 153, 153);
    transition: all 0.9s ease-in;
    animation-name: rubberBand;
    animation-duration: 1s;
}

.seccion_1_2 article{
    text-align: justify;
}
.seccion_1_3 article #link_linkedin{
    color: rgb(252, 191, 191);
    text-decoration: none;
}
.seccion_1_3 article #link_linkedin:hover{
    color: rgb(255, 253, 129);
    text-decoration: underline;
}
/* Estilo para crear la linea blanca separadora en seccion 1 */
.line_1{
    content: " ";
    border-bottom: 2px solid white;
}
.seccion_1_1 #img_fotografia:hover{
    animation: pulse;
    animation-duration: 2s;
}

.link_projects{
    font-size: 14px;
    color: rgb(152, 248, 248);
    text-decoration: none;
}
.link_projects:hover{
    color: rgb(253, 141, 225);
}




/***************** Seccion 2 *************/
.seccion_2{
    color: white;
    background-color: rgba(24, 24, 24, 0.575);
}
.seccion_2 article{
    color: white;
    padding: 20px;
    text-align: justify;
}

/* Estilo y animacion de border-top cajas seccion 2 */
@keyframes border_color{
    0%{border-top: 3px solid rgb(79, 247, 130);}
    25%{border-top: 3px solid rgb(243, 250, 142);}
    25%{border-top: 3px solid rgb(250, 142, 236);}
}
.seccion_2 h2{
    /* background-color: rgb(102, 2, 2); */
    background-color: rgb(24, 24, 24);
    padding: 20px 70px;
    width: 100%;
    border-top: 3px solid rgb(142, 250, 174);
    animation-name: border_color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Sombras cajas seccion 2 */
.seccion_2_1, .seccion_2_2, .seccion_2_3, .seccion_2_4{
    box-shadow: 5px 0px 20px rgb(20, 20, 20);
}

/* Estilo y animacion lenta de background fondo seccion 2 */
.seccion_2_1:hover{
    background-color: rgba(90, 90, 90, 0.664);
    box-shadow: 0px 0px 20px white;
    transition: all 0.6s ease-in;
}
.seccion_2_2:hover{
    background-color: rgba(90, 90, 90, 0.664);
    box-shadow: 0px 0px 20px white;
    transition: all 0.6s ease-in;
}
.seccion_2_3:hover{
    background-color: rgba(90, 90, 90, 0.664);
    box-shadow: 0px 0px 20px white;
    transition: all 0.6s ease-in;
}
.seccion_2_4:hover{
    background-color: rgba(90, 90, 90, 0.664);
    box-shadow: 0px 0px 20px white;
    transition: all 0.6s ease-in;
}

/* Estilos viñetas aptitudes */
.seccion_2_3 ul li{
    list-style: none;
}
.seccion_2_3 ul li:before{
    content: '\2713';
    margin: 0 1em;
}